@media screen and (min-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  nav {
    justify-content: flex-end;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  header h1 {
    font-size: 1.5rem;
  }

  nav a {
    font-size: 1rem;
  }
}